header {
    font-size: 50px;
    text-align: center;
    color: purple;
}

body {
    background-color: black;
}

h1 {
    font-family: monospace;
    font-size: 20px;
    color: white;
}

.justify {
    display: inline-block;
    padding: 10%;
    color: white;

}

footer {
    text-align: center;
    font-size: 30px;
    color:white
}
@media screen and (max-width: 992px) {
    header {
      flex-direction: column;
    }
  
    h2 {
      flex-direction: row;
    }
  }